.yt-submit{
		/*position: fixed;		*/
		right: 20px;
}
.yt-submit-row{
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 10px 15px;
	background: #e6e6e6;
	border-top: 1px solid #ccc;
	text-align: right;
}
#yt_file_upload{
	margin-left: -9999px;
}
label{
	height: 25px;
	width: 119px !important;
	padding-left: 5px !important;
	margin-bottom: 5px;
	border: 1px solid black;
	border-radius: 3px;
	line-height: 31px;
	color: white;	
	background: radial-gradient(#424242 0%, #424242 0%, gray 100%);	
}